
/* Register.css */

.coloor {
  background-image: url("D:\Project\client\src\Assets\BG-opc-photo.png");
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
}

.user-form {
  background-color: #ffffff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 500px;
}

.regis_head {
  font-size: 30px;
  /* color: #9702fa; */
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 2vh;
}
input[type="text"],
input[type="tel"],
input[type="email"],
input[type="password"] {
  width: 60%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}
input[type="checkbox"]{
  height: 4vh;
}

button[type="submit"] {
  background-color: #05f811;
  /* color: #fff; */
  border: none;
  padding: 5px 20px;
  border-radius: 3px;
  font-size: 18px;
  cursor: pointer;
  width: 90%;
}

button[type="submit"]:hover {
  background-color: #34b301;
}
.i_icon{
  color: #61dafb;
}
.forms-group {
  margin-bottom: 20px;
}
label {
  display: block;
  font-weight: bold;
}
.login-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-image: url(https://dbaasltd.co.in/img/ecommerce.gif);
  background-size: cover;
}
.nav-font{
  font-weight: bolder;
  font-size: xx-large;
}
/* ProductList.css */

.product_list {
  /* Add your custom CSS styles here */
  background-color: #f0f0f0;
  padding: 10px;
  border: 1px solid #ddd;
}
.imgwh{
  max-width: 50%;
  max-height: 500vh;
}
.main_bg{
  background-image: url(https://www.zeemo.com.au/upload/images/commercial.gif);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.mains{
  height: 90vh;
}
.bg_color{
  /* background-image: radial-gradient(white,yellow); */
  width: fit-content;
  height: 30%;
}
.fon{
  font-size: 0px;
}
/* UserView.css */

/* Define styles for the table */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
.container {
  max-width: 800px;
  margin: 0 auto;
}
.book-bg{
  background-image: url(https://cdn.dribbble.com/users/9952200/screenshots/16954052/media/36e149b486ae18ff310fae37278e0373.gif);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.logout{
  float: right;
}